body {
	background-color: rgb(1, 4, 9);
}
section {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    color: white;
    background-color: rgb(29, 42, 53);
    padding-top: 13px;
    padding-bottom: 40px;
    margin-bottom: 16px;
    border-radius: 6px;
    }
.chapter {
    display: inline;
}
.text {}
footer {
    margin-top: 30px;
}

/*   
//////////////  GOOGLE FONTS - EXAMPLE RULES

.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
/////////////    DARK THEME COLORS /////////////

github rgb (1, 4, 9 

W3Schools rgb( 21, 28, 37    &   21, 32, 43   &    29, 42, 53   &   40, 44, 52   &   rgb(56, 68, 77) #38444d
    
*/
